<%- include('parts/header') %> <%- include('parts/navbar') %>

<div class="container text-center">

    <h3>Add Product</h3>
    <form action="/admin/add" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" class="form-control" placeholder="Name"> 

        <input type="number" class="form-control" name="price" placeholder="Price">

        <textarea 
            type="password" 
            class="form-control" 
            name="description" 
            placeholder="description"
        ></textarea>

        <select type="password" class="category" name="category">

            <option value="" selected>Chose a category</option>
            <option value="clothes">Clothes</option>
            <option value="phones">Phones</option>
            <option value="computers">Computers</option>

        </select>

        <input type="file" class="form-control" name="image" placeholder="Image">

        <input type="submit" value="Add Product" class="btn btn-primary">  
    </form>

</div>

<%- include('parts/footer') %>